<div class="row">

    <div class="col-md-12 text-center">
        <p>Ingrese al chat con su cuenta de google</p>


        <button 
        type="button"
        class="btn btn-outline-primary"
        (click)="ingresar('google')"
        >
            Google
        </button>

    </div>

</div>