<h1>chat</h1>
<hr>


<div class="app-mensajes" id="app-mensajes">

    <div  *ngFor="let chat of _chatservice.chats" 
        [ngClass]="{'text-right': _chatservice.usuario.uid == chat.uid } "
    >
        <span class="badge"
        [ngClass]="{'badge-primary': _chatservice.usuario.uid == chat.uid,
                    'badge-success' : _chatservice.usuario.uid != chat.uid}"
        >{{chat.nombre}} </span>
        <p>
            {{chat.mensaje }}
        </p>
    </div>
</div>

<input type="text" name="mensaje" class="form-control"
  [(ngModel)]="mensaje" 
  placeholder="Enviar mensaje"
  (keyup.enter)="enviar_mensaje()"
  >