<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.mensaje}}
  </li>
</ul> -->


<div class="container main-container">

  <h1>FireChat</h1>

  <div class="col-md-12 text-right" *ngIf="_cs.usuario.uid" >
    <button type="button" class="btn btn-outline-danger"
      (click)="_cs.logout()"
    >
      salir
    </button>
  </div>

  <app-login *ngIf="!_cs.usuario.uid" ></app-login>

  <div  *ngIf="_cs.usuario.uid" class="chat-window">
    <app-chat></app-chat>
  </div> 
  

</div>
